.axis-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: semibold;
}

body {
    font-family: "Open Sans";
    margin: 0;
}

#main {
    margin: 20px;
}

.y-axis-2 {
    color: white;
}

#my_dataviz {
    font-size: 35px;
}